
/* @CHARSET "UTF-8"; */


.portfolio-item {
  position: relative;
  background: #FFF;
  margin-bottom: 20px;
  border: 8px solid #FFF;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  color: inset 0 1px #fff,0 0 8px #c8cfe6;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.portfolio-item .portfolio-image {
  overflow: hidden;
  text-align: center;
  position: relative;
}
.portfolio-item .portfolio-image img {
  max-width: 100%;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
}
.portfolio-item:hover {
  border: 8px solid #3c8dbc;	
}
.portfolio-item:hover .portfolio-image img {
  position: relative;
  -webkit-transform: scale(1.1) rotate(2deg);
  -moz-transform: scale(1.1) rotate(2deg);
  -o-transform: scale(1.1) rotate(2deg);
  -ms-transform: scale(1.1) rotate(2deg);
  transform: scale(1.1) rotate(2deg);
}
.portfolio-item ul {
  list-style-type: none;
  margin-left: 0;
  margin-top: 20px;
  text-align: center;
  padding: 0;
}
.portfolio-item ul li {
  line-height: 28px;
}
.portfolio-item .portfolio-project-name {
  font-size: 1.3em;
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
.portfolio-item .portfolio-project-name {
  font-size: 0.4em;
  text-transform: lowercase;
	}
}

.portfolio-item .read-more {
  text-align: center;
  padding-top: 10px;
}
.portfolio-item .portfolio-info-fade {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  color: #FFF;
  text-shadow: 2px 2px 4px #2c3b41;
  filter: dropshadow(color=#000000, offx=2, offy=2);
  -webkit-transition: opacity .25s linear;
  -moz-transition: opacity .25s linear;
  -o-transition: opacity .25s linear;
  -ms-transition: opacity .25s linear;
  transition: opacity .25s linear;
}
.portfolio-item .portfolio-info-fade ul {
  margin-top: 10%;
}
.portfolio-item .portfolio-info-fade .btn:hover {
  background: #367fa9; 
}
.portfolio-item .portfolio-info-fade ul {
  padding: 0;
}
.portfolio-item .portfolio-info-fade ul li {
  text-align: center;
}
.portfolio-item .portfolio-info-fade ul li:first-child {
  border-bottom: 1px solid #CCC;
}
.portfolio-item:hover .portfolio-info-fade {
  display: block;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.lt-ie9 .portfolio-info-fade {
  display: none;
}
.lt-ie9 .portfolio-item:hover .portfolio-info-fade {
  display: block;
}
.portfolio-visit-btn {
  padding-top: 15px;
}
.portfolio-item-description ul {
  padding: 0;
}