<!DOCTYPE html>
<html>

<head>
<title>Planet Financial Group</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../static/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>

<script src="../static/layout/scripts/jquery.min.js"></script>
<script src="../static/layout/scripts/jquery.backtotop.js"></script>
<script src="../static/layout/scripts/jquery.mobilemenu.js"></script>

<body id="top">
  <div style="margin: 0 auto; background-color: white"> 
  <div class="bgded overlay" style="background-image:url('../static/images/front.jpg');"> 
    <div class="wrapper row1">
      <header id="header" class="hoc clear"> 
        <div id="logo" class="fl_left">
          <h1><a href="index.html">PLANET FINANCIAL GROUP</a></h1>
        </div>
        <nav id="mainav" class="fl_right">
          <ul class="clear">
            <li><a href="login">Client Login</a></li>
          </ul>
        </nav>
      </header>
    </div>

    <div id="pageintro" class="hoc clear"> 
      <article class="introtxt">
        <h2 class="heading">PLAN AHEAD</h2>
        <p>financial services as unique as you are</p>
        <footer><a class="btn inverse" href="login">START HERE</a></footer>
      </article>
      <div class="clear"></div>
    </div>
  </div>

  <div class="wrapper row3">
    <main class="hoc container clear"> 
      <div class="group center">
        <article class="one_quarter first"><i class="icon fa fa-users"></i>
          <h4 class="font-x1"><a href="#">YOUR STORY</a></h4>
          <p>Tell us where your are and where you want to be.</p>
        </article>
        <article class="one_quarter"><i class="icon fa fa-road"></i>
          <h4 class="font-x1"><a href="#">OUR PLAN</a></h4>
          <p>Let's get our heads together and draw a map. We'll be with you every step of the way.</p>
        </article>
        <article class="one_quarter"><i class="icon fa fa-fire"></i>
          <h4 class="font-x1"><a href="#">CREATE</a></h4>
          <p>We help you make the right decisions and manage your existing investments.</p>
        </article>
        <article class="one_quarter"><i class="icon fa fa-recycle"></i>
          <h4 class="font-x1"><a href="#">REBALANCE</a></h4>
          <p>Our life and world change every day. We adjust our plan accordingly.</p>
        </article>
      </div>
      <div class="clear"></div>
    </main>
  </div>

  <div class="wrapper row5">
    <div id="copyright" class="hoc clear"> 
    </div>
  </div>

</body>
</html>